@model IEnumerable<ExcepcionesControl.Models.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoHospital)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoHospital)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDoctor }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDoctor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDoctor })
        </td>
    </tr>
}

</table>
