@model PracticasMVC.Models.TablaMultipicar
@{
    ViewBag.Title = "TablaMultiplicarView";
}

<h2>TablaMultiplicarView</h2>

<form method="post">
    <label for ="num">NUMERO</label>
    <input type="number" name="num" />
    <button type="submit">MOSTRAR</button>
</form>

@ViewBag.Mensaje

@if (Model != null)
{
    <table class="table-bordered table-hover">
        <thead class=""><tr><td colspan="2">TABLA DEL @ViewBag.n</td></tr></thead>
        <tbody>

            @{
                int cont = 0;
            }
            @foreach (int n in Model.ListaTabla())
            {
                cont += 1;
                <tr>
                    <td class="warning">@ViewBag.n * @cont</td>
                    <td class="success">@n</td>
                </tr>
            }
        </tbody>
    </table>
}