@using ConceptosMVC.Models
@model List<Empleado>
@{
    ViewBag.Title = "AlmacenarEmpleados";
}

<h2>Almacenar Empleados</h2>
<h3>@ViewBag.Empleados</h3>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Apellido</th>
        <th>Oficio</th>
        <th>Salario</th>
        <th>Sumar al total</th>
    </tr>
    @foreach (Empleado e in Model)
    {
        <tr>
            <td>@e.IdEmpleado</td>
            <td>@e.Apellido</td>
            <td>@e.Oficio</td>
            <td>@e.Salario</td>
            <td>@Html.ActionLink("Almacenar", "AlmacenarEmpleados", "Empleados", new { empno = e.IdEmpleado }, null)</td>
        </tr>
    }
</table>

@Html.ActionLink("Mostrar total", "MostrarEmpleados", "Empleados")