
@{
    ViewBag.Title = "HomeView";
}

<h2>HomeView</h2>

<div class="row">
    <ul>
        <li>@Html.ActionLink("Sumar números", "SumarNumerosView", "Modules")</li>
    </ul>
    <ul>
        <li>@Html.ActionLink("Calcular Doble", "DobleRandomView", "Modules")</li>
    </ul>
    <ul>
        <li>@Html.ActionLink("Tabla de Multiplicar", "TablaMultiplicarView", "Modules")</li>
    </ul>
    <ul>
        <li>@Html.ActionLink("Tabla de Multiplicar Objeto", "TablaMultiplicarObjetoView", "Modules")</li>
    </ul>
    <ul>
        <li>@Html.ActionLink("Tabla de Multiplicar HTML", "TablaMultiplicarHTMLView", "Modules")</li>
    </ul>
    <ul>
        <li>@Html.ActionLink("Videos Youtube y tal", "VideosYoutubeView", "Modules")</li>
    </ul>
    <ul>
        <li>@Html.ActionLink("Videos Youtube MODELO", "VideosYoutubeModeloView", "Modules")</li>
    </ul>
</div>
