@using ConceptosMVC.Models
@model Departamento
@{
    ViewBag.Title = "UpdateDepartamento";
}

<h2>Update Departamento</h2>

<label class="panel-info">@ViewBag.Mensaje</label>
@using (Html.BeginForm())
{

    @Html.ValidationSummary()
<div class="row">
    @Html.LabelFor(z => z.Numero)
    @Html.TextBoxFor(model => model.Numero, new { @readonly = "readonly", @class = "disabled" })
    @Html.ValidationMessageFor(z => z.Numero)
</div>
    <div class="row">
        @Html.LabelFor(z => z.Nombre)
        @Html.EditorFor(z => z.Nombre)
        @Html.ValidationMessageFor(z => z.Nombre)
    </div>
    <div class="row">
        @Html.LabelFor(z => z.Localidad)
        @Html.EditorFor(z => z.Localidad)
        @Html.ValidationMessageFor(z => z.Localidad)
    </div>
    <button type="submit"> Modificar</button>
}

