@using ProyectoMVCEF.Models
@{
    ViewBag.Title = "ListaEmpleados";
}

<h2>ListaEmpleados</h2>
<table class="table table-hover">
    <tr>    
        <th>@Html.ActionLink("Apellido", "ListaEmpleados", "Empleados", new { id = ViewBag.OrdenApe }, null)</th>
        <th>@Html.ActionLink("Salario", "ListaEmpleados", "Empleados", new { id = ViewBag.OrdenSal }, null)</th>
    </tr>
    @foreach (EMP emp in ViewBag.Empleados){
        <tr>
            <td>@emp.APELLIDO</td>
            <td>@emp.SALARIO</td>
        </tr>
    }
</table>

<h2>@ViewBag.Orden</h2>